@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;

}

.navbar {
    width: 100%;
    height: 65px;
    background-color: green;
    display: flex;
    align-items: center;
}

#logonavbar {
    width: 120px;
    height: 60px;
    display: flex;
    margin-left: 40px;
}

#text_navbar {
    flex: 1;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: green;
    padding: 15px;

}

li {
    margin: 0 10px;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: white;
    padding: 30px;
}

li a:hover{
    background-color: rgb(0, 73, 0);
    
}

.container {
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 0;
}

.img {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('C:/Users/Usuario/Documents/Site projeto individual/Projeto-individual/image/back-img.webp');
    background-position: top;
    background-repeat: no-repeat;
background-size: cover;
z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    z-index: 3;
    font-family: "Montserrat", sans-serif;
}

.img_logo{
    position: absolute;
    width: 135px;
    height:85px;
 background-image: url('C:/Users/Usuario/Documents/Site projeto individual/Projeto-individual/image/Default_faa_um_imagem_de_um_logo_com_forma_de_uma_taa_da_copa_2-removebg-preview.png');   
z-index: 3;
background-size: cover;
align-items: center;
left: 44%;
top: 30%;
}






.countdown-container {
    display: inline-flex;
    position: absolute;
    left: 21%;
    width: 700px;
    text-align: center;
    top: 79%;
    background-color: brown;
}

.countdown {
    font-size: 32px;
    color: #333;
}

