@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* HOME */

* {
    padding: 0;
    margin: 0;
}
body{
    height: 720px;
    width: 100%;
    display: flex;
}
.container{
    width: 28%;
    height: 720px;
    background-color: #35b702;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    gap: 40px;
}

.button_voltar{
    background-color:#35b702 ;
    border: 1px solid white;
    width: 130px;
 height: 40px;
 border-radius: 20px;
 color: white;


}

.button_ranking{
    background-color:#35b702 ;
    border: 1px solid white;
    width: 130px;
 height: 40px;
 border-radius: 20px;
 color: white;
 align-items: center;
}
.button_quiz{
    background-color:#35b702 ;
    border: 1px solid white;
    width: 130px;
 height: 40px;
 border-radius: 20px;
 color: white;
 margin-top: 0%;
}
