@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* HOME */

* {
    padding: 0;
    margin: 0;
}
body{
    height: 720px;
    width: 100%;
    display: flex;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.container{
    width: 23%;
    height: 720px;
    background-color: rgb(4, 65, 23);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    gap: 100px;
}

.button_voltar{
    background-color:#35b702;
    border: 1px solid white;
    width: 130px;
 height: 40px;
 border-radius: 20px;
 color: white;


}
.button_voltar:hover{
    cursor: pointer;
    opacity: 0.7;
}



.button_quiz{
    background-color:#35b702;
    border: 1px solid white;
    width: 130px;
 height: 40px;
 border-radius: 20px;
 color: white;
 margin-top: 0%;
 opacity: 1;
}

.button_quiz:hover{
    cursor: pointer;
    opacity: 0.7;
}

#div_container{
    width: 77%;
    height: 720px;
    display: flex;
    text-align: center;
  flex-direction: column;
}

.div_titulo{
    width: 100%;
    height: 100px;
    background-color: #35b702;
    display: inline-block;
    flex-direction: row;
 
}

.div_titulo p{
    align-self: center;
 justify-content: center;
 margin-top: 4%;
 font-size: 28px;
}

.div_kpi{
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: row;
gap: 30px;
justify-content: center;
margin-top: 15px;
}

.div_grafico{
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
gap: 30px;
justify-content: center;
align-items: center;
background-color: white;
}

.quadrado_kpi{
    margin-top: 2px;
    height: 100%;
    width: 20%;
    background-color: rgb(4, 65, 23);
    border-radius: 15px;
}

.quadrado_grafico{
    height: 90%;
    width: 45%;
    background-color: rgb(4, 65, 23);
    justify-content: center;
    display: flex;
    border-radius: 15px;    
} 

#myChart{
    background-color: rgb(4, 59, 28);
    justify-content: center;
    align-self: center;
    width: 100%; 
    height:100px;
}

.quadrado_kpi span{
    font-size: 80px;
    text-align: center;
    justify-content: center;
}

#myChart2{
    background-color: rgb(4, 59, 28);
    justify-content: center;
    align-self: center;
    width: 100%; 
    height:100px;
}