@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* HOME */

* {
    padding: 0;
    margin: 0;
}
.container{
    width: 30%;
    height: 650px;
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container button{
    justify-content: center;
margin-top: 20%;
}