

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url('public/assets/imgs/1_000_32ra288-20331736.jpg');
    background-size: cover;
    background-position: center;
    background-color:  rgb(21, 94, 21);
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

button {
    cursor: pointer;
}

.container {
    background-color: white;
    width: 700px;
    border: 2px solid rgb(21, 94, 21);
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.perguntas_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.perguntas {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.respostas_container {
    width: 100%;
    display: grid;
    gap: 16px;
}

.next_quiz {
    margin-top: 32px;
}

.button {
    background-color: white;
    border: 3px solid rgb(27, 121, 27);
    color: black;
    font-size: 16px;
    border-radius: 6px;
    height: 43px;
    padding: 0 28px;
    transition: filter 0.2s;
    font-family: "Montserrat", sans-serif;
}

.button:not(:disabled):hover {
    filter: brightness(0.8);
}

.answer:disabled {
    cursor: not-allowed;
}

.hide {
    display: none;
}

.correct,
.incorrect {
    width: 100%;
}

.correct {
    background-color: #049d48;
}

.incorrect {
        background-color: #e00202;
    }

.mensagem_final {
    font-size: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.mensagem_final span {
    display: block;
    margin-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.voltar {
    width: 90px;
    position: absolute; 
    top: 35px;
    left: 45px;
}
#voltar span {
    position: absolute;
    top: 45px; 
    left: 90px; 
    color: white; 
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight:lighter;
}

.div_titulo{
    width: 100px;
    height: 150px;
    align-self: flex-end;
}