@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#ipt_atual{
    opacity: 0.7;
}


/*HOME */


.container_home{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-evenly;
    font-size: 27px;
    background: linear-gradient(180deg, #1c6400  1%, #01683b 99%); 
    text-shadow: 2px 2px 4px #000000;
    margin-top: 40px;
}

.comeco{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comeco span{
    max-width: 400px;
    font-family: "Montserrat", sans-serif;
    color: white;
    
}

.comeco p{
    max-width: 480px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.container_home img{
    width: 280px;
    height: 300px;
    background: linear-gradient(90deg, #35b702  1%, #00b567 99%); 
    border-radius: 15px;
    background-size: cover;
    overflow: hidden;
}
.sobre1{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.sobre1 p{
    max-width: 480px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: black;
}

.container_sobre1 img{
    width: 200px;
    height: 280px;
    background: linear-gradient(90deg, #35b702  1%, #00b567 99%); 
    border-radius: 15px;
}

.container_sobre1{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-evenly;
    font-size: 27px;
    background: white;
}



.sobre2{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.sobre2 p{
    max-width: 900px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
}



.container_sobre2{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-evenly;
    font-size: 27px;
    background: linear-gradient(180deg, #1c6400  1%, #01683b 99%); 
    text-shadow: 2px 2px 4px #000000;
}


.container_moments {
    background: white;
    height: 80px;
  display: flex;
  justify-content: space-evenly;
}


.text_moments {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: black;
    align-self: center;
    justify-content: space-around;
}



#container_videos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
    background: white;
    
}


.containervideo {
    height: 200px;
    width: 300px;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    border: 3px solid green;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}





.sobre3{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.sobre3 p{
    max-width: 900px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 3%;
    margin-bottom: 4%;
}



.container_sobre3{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-evenly;
    font-size: 27px;
    background: linear-gradient(180deg, #1c6400  1%, #01683b 99%); 
    text-shadow: 2px 2px 4px #000000;
}


