@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Navbar */

* {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #35b702  1%, #0000b5 99%);
    display: flex;
    align-items: center;
}

#logonavbar {
    width: 60px;
    height: 30px;
    display: flex;
    margin-left: 40px;
}

#text_navbar {
    flex: 1;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #35b702  1%, #0000b5 99%);
    padding: 15px;
    text-shadow: 2px 2px 4px #000000;
    font-size: 14px;

}

li {
    margin: 0 10px;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

li a:hover {
    box-shadow:  0px 0px 10px 4px  yellow;
    transition: 0.5s;
}


/*HOME */


.container {
    width: 100%;
    height: 530px;
    position: relative;
    z-index: 0;
    display: flex;
}


#video-background{
    display: flex;
    width: 100%;
    height: 530px;
    object-fit: cover;
    z-index: -1;
    background-position: top;
    overflow: hidden;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    text-align: center;
    z-index: 999;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px 4px #000000
}





/*CONTADOR */


.countdown-container {
    display: inline-flex;
    position: absolute  ;
    text-align: center;
    top: -50;
    left: 50%;
    transform: translate(-50%, 50%);
   margin-top: -10px;
   
}

.countdown {
    font-size: 32px;
    color: white;
    flex-direction: column;
    display: flex;
}

.kpi_contador{
    width: 300px;
    justify-content: space-between;
    height: 50px;
    display: flex;
    margin-left: 4%;
    
}




/* CONTAINER DA SEÇÃO EVENTO POPULAR */
.evento_popular {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 480px;
    background: linear-gradient(180deg, #35b702  1%,rgb(34, 139, 34) 99%);
    flex-direction: column;
    align-items: center;


}

.titulo_popular {
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: white;
    padding-bottom: 10px;

}

.retangulo {
    width: 100%;
    text-shadow: 2px 2px 4px #000000
}

.containertext1 {
    display: flex;
    position: absolute;
    top: 120%;
    left: 140px;
    height: 250px;
    width: 200px;
    background-color: white;
}




.titulo_moments {
     text-align: center;
     display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: white;
       background-color: rgb(34, 139, 34);
    width: 100%;
    
}

.container_moments {
    background: linear-gradient(180deg, rgb(34, 139, 34)  1%, #3CB35A 99%);
    height: 120px;
  display: flex;
  justify-content: space-evenly
}

/* CONTAINER DO VIDEO DO YOUTUBE*/

#container_videos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 250px;
    background: linear-gradient(180deg,#3CB35A 5%, #0000b5 99%);
    
}


.containervideo {
    height: 180px;
    width: 300px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    border: 3px solid #F6E35D;
    border-radius: 5px;
}


.text_moments {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    align-self: center;
    justify-content: space-around;
}







#span_cowndown {
    font-size: 15px;
    justify-content: space-around;
}

.quadrado {
    width: 80px;
    height: 42px;
    text-shadow: 1px 1px 1px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #0000b5;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_contador {

    width: 100%;
    height: 130px;
    background: linear-gradient(0deg, #35b702  1%, #0000b5 99%);
    border-top: 2px solid #F6E35D;
}


/*SEÇÃO EVENTO POPULAR */

.titulo_popular_center {
    display: flex;
    width: 500px;
    text-align: center;
    margin-top: 3%;
    
}


/*DIV DE TODOS OS CARDS*/
.cards {
    display: flex;
    flex-direction: row;
    
}


/*DIV DOS CARD INDIVIDUAL*/
.card {
    display: flex;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    align-self: center;
    margin: 2px;
    
}

/*Parte da frente do card e de tras*/
.front {
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(0deg);
    text-shadow: 1px 1px 1px black;
    border: 3px solid #F6E35D;
    border-radius: 10px;
}

.back {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    transform: rotateY(180deg);
    text-shadow: 20px 20px 20px #000000;
    font-family: "Montserrat", sans-serif;
    border: 3px solid #0000b5;
    border-radius: 10px;
}

.front2 {
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(0deg);
    text-shadow: 1px 1px 1px black;
    border: 3px solid #F6E35D;
    border-radius: 10px;
}

.back2 {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    transform: rotateY(180deg);
    text-shadow: 20px 20px 20px #000000;
    font-family: "Montserrat", sans-serif;
    border: 3px solid #0000b5;
    border-radius: 10px;

}

.front3 {
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(0deg);
    text-shadow: 1px 1px 1px black;
    border: 3px solid #F6E35D;
    border-radius: 10px;
}

.back3 {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    transform: rotateY(180deg);
    text-shadow: 20px 20px 20px #000000;
    font-family: "Montserrat", sans-serif;
    border: 3px solid #0000b5;
    border-radius: 10px;
}

.front4 {
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(0deg);
    text-shadow: 1px 1px 1px black;
    border: 3px solid #F6E35D;
    border-radius: 10px;
}

.back4 {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    transform: rotateY(180deg);
    text-shadow: 20px 20px 20px #000000;
    font-family: "Montserrat", sans-serif;
    border: 3px solid #0000b5;
    border-radius: 10px;
}


/*ANIMAÇAO DOS CARDS*/

.card:hover .front {
    transform: rotateY(-180deg);
transition: 1s;
}

.card:hover .back {
    transform: rotateY(0deg);
    transition: 1s;
}

.card:hover .front2 {
    transform: rotateY(-180deg);
    transition: 1s;
}

.card:hover .back2 {
    transform: rotateY(0deg);
    transition: 1s;
}

.card:hover .front3 {
    transform: rotateY(-180deg);
    transition: 1s;
}

.card:hover .back3 {
    transform: rotateY(0deg);
    transition: 1s;
}

.card:hover .front4 {
    transform: rotateY(-180deg);
    transition: 1s;
}

.card:hover .back4 {
    transform: rotateY(0deg);
    transition: 1s;
}

/* IMAGEM DOS CARDS*/

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url('C:/Users/Usuario/Documents/Site projeto individual/Projeto-individual/public/assets/imgs/Group 5.png');
    background-size: cover;
    background-position: top;
}

.front2,
.back2 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url('C:/Users/Usuario/Documents/Site projeto individual/Projeto-individual/public/assets/imgs/Group 4.png');
    background-size: cover;
    background-position: center;
}

.front3,
.back3 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url('C:/Users/Usuario/Documents/Site projeto individual/Projeto-individual/public/assets/imgs/Group 1.png');
    background-size: cover;
    background-position: bottom;
}

.front4,
.back4 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url('C:/Users/Usuario/Documents/Site projeto individual/Projeto-individual/public/assets/imgs/Group 3.png');
    background-size: cover;
}

/* ALINHAR TITULO DO CARD*/
.alinhar{
    margin-top: 20px
}
