@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Navbar */

* {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #35b702  1%, #00b567 99%); 
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
}

#logonavbar {
    width: 60px;
    height: 30px;
    display: flex;
    margin-left: 40px;
}

#text_navbar {
    flex: 1;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #35b702  1%, #00b567 99%); 
    padding: 15px;
    text-shadow: 2px 2px 4px #000000;
    font-size: 14px;

}

li {
    margin: 0 10px;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

li a:hover {
    box-shadow:  0px 0px 10px 4px  yellow;
    transition: 0.5s;
}
/* TITULO*/
.titulo {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    background-color: #01683b;
    color: white;
    margin-top: 4%;
}


.subtitulo {
    height: 10px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
}
.subtitulo p{
    margin-top: 45px;
    /* text-decoration: underline;
    color: blue;  */
    font-weight: 500;
}
/* SEÇÃO FASE DE GRUPOS */
#fasedegrupos {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.texto_fasedegrupos {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.texto_fasedegrupos span {
    max-width: 400px;
    font-size: 27px;
}

.texto_fasedegrupos p {
    max-width: 400px;
    font-size: 20px;
}

#fasedegrupos img {
    width: 380px;
    height: 250px;
    border-radius: 20px;
}


/* SEÇÃO MATA MATA */
#mata_mata {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.texto_mata_mata {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.texto_mata_mata span {
    max-width: 400px;
    font-size: 27px;
}

.texto_mata_mata p {
    max-width: 400px;
    font-size: 20px;

}


#mata_mata img {
    width: 380px;
    height: 250px;
    border-radius: 20px;
}


.text_mata_mata {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;

}

.text_mata_mata p {
    max-width: 70%;
    font-size: 20px;
}

/* IMAGENS LOCAL E BANNER COPA  */
.imgs_onde_copa {
    margin-top: 5%;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.img_logo {
    width: 300px;
    height: 300px;
}

.img_local {
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 300px;
}

/* IMG DE ESTADIOS DE ABERTURA E FINAL DA COPA */
.imgs_abertura_estadio {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.imgs_abertura_estadio img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.imgs_fechamento_estadio {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgs_fechamento_estadio img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

