@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#ipt_atual{
    opacity: 0.7    ;
}

/*HOME */


.container {
    width: 100%;
    height: 530px;
    position: relative;
    z-index: 0;
    display: flex;
}


#video-background{
    display: flex;
    width: 100%;
    height: 530px;
    object-fit: cover;
    z-index: -1;
    background-position: top;
    overflow: hidden;
    margin-top: 40px;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    text-align: center;
    z-index: 999;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px 4px #000000
}


/*CONTADOR */


.countdown-container {
    display: inline-flex;
    position: absolute  ;
    text-align: center;
    top: -50;
    left: 50%;
    transform: translate(-50%, 50%);
   margin-top: -10px;
   
}


.countdown {
    font-size: 32px;
    color: white;
    flex-direction: column;
    display: flex;
}

.kpi_contador{
    width: 300px;
    justify-content: space-between;
    height: 50px;
    display: flex;
    margin-left: 4%;
    
}

.div_contador p {
    align-self: center;
    display: flex;
    margin-left: 7%;
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
}





/* CONTAINER DA SEÇÃO EVENTO POPULAR */
.evento_popular {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 480px;
    background: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;


}

.titulo_popular {
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: black;
    padding-bottom: 10px;

}

.retangulo {
    width: 100%;
    text-shadow: 2px 2px 4px #000000;
}

.containertext1 {
    display: flex;
    position: absolute;
    top: 120%;
    left: 140px;
    height: 250px;
    width: 200px;
    background-color: white;
}




.titulo_moments {
     text-align: center;
     display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: white;
    background: rgb(21, 94, 21);
    width: 100%;
    
}

.container_moments {
    background: rgb(21, 94, 21);
    height: 120px;
  display: flex;
  justify-content: space-evenly
}

/* CONTAINER DO VIDEO DO YOUTUBE*/

#container_videos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 250px;
    background: rgb(21, 94, 21);
    
}


.containervideo {
    height: 180px;
    width: 300px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    border: 3px solid green;
    border-radius: 5px;
}


.text_moments {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    align-self: center;
    justify-content: space-around;
}





#span_cowndown {
    font-size: 14px;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
}

.quadrado {
    width: 80px;
    height: 42px;
    text-shadow: 1px 1px 1px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid green;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_contador {

    width: 100%;
    height: 130px;
    background: rgb(21, 94, 21);
    display: flex;
}




.titulo_popular_center {
    display: flex;
    width: 500px;
    text-align: center;
    margin-top: 3%;
    
}


.cards {
    display: flex;
    flex-direction: row;
    
}


.card {
    display: flex;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    align-self: center;
    margin: 2px;
    margin-left: 15px;

}


.front {
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(0deg);
    text-shadow: 1px 1px 1px black;
    border: 3px solid black;
    border-radius: 10px;

}

.back {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    transform: rotateY(180deg);
    text-shadow: 20px 20px 20px #000000;
    font-family: "Montserrat", sans-serif;
    border: 3px solid black;
    border-radius: 10px;

}

.front2 {
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(0deg);
    text-shadow: 1px 1px 1px black;
    border: 3px solid black;
    border-radius: 10px;
}

.back2 {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    transform: rotateY(180deg);
    text-shadow: 20px 20px 20px #000000;
    font-family: "Montserrat", sans-serif;
    border: 3px solid black;
    border-radius: 10px;

}

.front3 {
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(0deg);
    text-shadow: 1px 1px 1px black;
    border: 3px solid black;
    border-radius: 10px;
}

.back3 {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    transform: rotateY(180deg);
    text-shadow: 20px 20px 20px #000000;
    font-family: "Montserrat", sans-serif;
    border: 3px solid black;
    border-radius: 10px;
}

.front4 {
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(0deg);
    text-shadow: 1px 1px 1px black;
    border: 3px solid black;
    border-radius: 10px;
}

.back4 {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    transform: rotateY(180deg);
    text-shadow: 20px 20px 20px #000000;
    font-family: "Montserrat", sans-serif;
    border: 3px solid black;
    border-radius: 10px;
}


/*ANIMAÇAO DOS CARDS*/

.card:hover .front {
    transform: rotateY(-180deg);
transition: 1s;
}

.card:hover .back {
    transform: rotateY(0deg);
    transition: 1s;
}

.card:hover .front2 {
    transform: rotateY(-180deg);
    transition: 1s;
}

.card:hover .back2 {
    transform: rotateY(0deg);
    transition: 1s;
}

.card:hover .front3 {
    transform: rotateY(-180deg);
    transition: 1s;
}

.card:hover .back3 {
    transform: rotateY(0deg);
    transition: 1s;
}

.card:hover .front4 {
    transform: rotateY(-180deg);
    transition: 1s;
}

.card:hover .back4 {
    transform: rotateY(0deg);
    transition: 1s;
}

/* IMAGEM DOS CARDS*/

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url('../assets/imgs/Group\ 5.png');
    background-size: cover;
    background-position: top;
    padding: 3px;
}

.front2,
.back2 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url('../assets/imgs/Group\ 4.png');
    background-size: cover;
    background-position: center;
    padding: 3px;
}

.front3,
.back3 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url('../assets/imgs/Group\ 1.png');
    background-size: cover;
    background-position: bottom;
    padding: 3px;
}

.front4,
.back4 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url('../assets/imgs/Group\ 3.png');
    background-size: cover;
    padding: 3px;
}

/* ALINHAR TITULO DO CARD*/
.alinhar{
    margin-top: 20px
}


/* DIV OBJETIVOS DA ONU */
.titulo_onu{
    text-align: center;
    display: flex;
   justify-content: center;
   font-family: "Montserrat", sans-serif;
   font-size: 28px;
   color: white;
   background: rgb(37, 147, 37);
   width: 100%;
   height: 70px;
   align-items: center;
}



.div_objetivo1{
    max-width: 100%;
    max-height: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background: white;
    margin-bottom: 5%;
    margin-top: 4%;
}

.div_objetivo1 p{
    max-width: 100;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: black;
    flex-direction: row;
    margin-right: 5%;
    align-self: center;
}

.div_objetivo1 img{
    width:100px;
    height: 100px;   
    background-size: cover;
    margin-right: 3%;
    margin-left: 7%;
    margin-top: 10px;
}






