@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Navbar */

* {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #35b702  1%, #0000b5 99%);
    display: flex;
    align-items: center;
}

#logonavbar {
    width: 60px;
    height: 30px;
    display: flex;
    margin-left: 40px;
}

#text_navbar {
    flex: 1;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #35b702  1%, #0000b5 99%);
    padding: 15px;
    text-shadow: 2px 2px 4px #000000;
    font-size: 14px;

}

li {
    margin: 0 10px;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

li a:hover {
    box-shadow:  0px 0px 10px 4px  yellow;
    transition: 0.5s;
}

/*HOME */

.container_home{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-evenly;
    font-size: 27px;
    background: linear-gradient(0deg,#0000b550 1%, #0000b5 99%);
    text-shadow: 2px 2px 4px #000000;
}

.comeco{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comeco span{
    max-width: 400px;
    font-family: "Montserrat", sans-serif;
    color: white;
    
}

.comeco p{
    max-width: 480px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
}


/*IMAGEM JULES RIMET */


.container_home img{
    width: 280px;
    height: 200px;
    border: 3px solid rgb(5, 5, 163);
    border-radius: 15px;
}


/* seção de selecionar a copa especifica */

.container_copas{
    width: 100%;
    height: 160px;
    background: linear-gradient(0deg,#0000b550 1%, #0000b5 99%);
    display: flex;  
    flex-direction: column;  
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.container_copas span{
 justify-content: center;
 align-self: center;
 margin-top: 2%;
 font-family: "Montserrat", sans-serif;
 font-size: 27px;
}

.container_copas h3{
margin-top: 4%;
align-self: center;
font-family: "Montserrat", sans-serif;
}

#div_msg{
    display: flex;
    max-width: 100%;
    height: 100px;
    background: #0000b550;
    justify-content: center;
    font-size: 27px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}




/* texto resumo da copa do mundo */

#container_titulo_copa{
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: center;    
    align-items: top;
    font-size: 27px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background: linear-gradient(180deg, #35b702  1%, #35b7026e   99%);

}


#container_titulo_copa span{
   margin-bottom: 2%;
   font-family: "Montserrat", sans-serif;
   font-size: 27px;
}

/* TELAS DOS TEXTOS DO RESUMO DA COPA */

/* RESUMO ONDE FOI E QUANTOS TIMES */

#container_resumo1{
    max-width: 100%;
    max-height: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color:  #35b702ce;
}


#container_resumo1 p{
    max-width: 400px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#container_resumo1 img{
    width: 380px;
    height: 280px;   
    background-size: cover;
}

/* RESUMO QUEM GANHOU E FINAL */

#container_resumo2{
    max-width: 100%;
    max-height: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color:  #35b702ce;
}


#container_resumo2 p{
    max-width: 450px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

#container_resumo2 img{
    width: 380px;
    height: 280px;   
}


/* Artilheiros e destaques da copa*/

#container_resumo3{
    width: 100%;
    max-height: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color:  #35b702ce;
}


#container_resumo3 p{
    max-width: 400px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

#container_resumo3 img{
    width: 380px;
    height: 280px;   
}

/* Curiosidades */

#container_resumo4{
    width: 100%;
    max-height: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    color: white;
    background-color:  #35b702ce;
}


#container_resumo4 p{
    width: 400px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

#container_resumo4 img{
    width: 380px;
    height: 280px;
    
      border-radius: 10px;
}
